<p id="notice"><%= notice %></p>
<p> <%= @drug.name %> </p>

<div class="drug-serts-galllery">
  <%= render partial: 'serts/sert', collection: @drug.serts.except(@new_sert) %>
</div>

<%= link_to 'Back', drugs_path %>
