<p id="notice"><%= notice %></p>

<h1>Найти накладную</h1>

<%#= render partial: 'invoice', collection: @invoices %>

<%= simple_form_for @invoice do |f| %>
	<%= f.input :number %>
  
  <%#= f.input :inn %>

  <%#= f.input :date, as: :date, start_year: Date.today.year, end_year: Date.today.year, order: [:day, :month, :year] %>

  <%= f.submit 'Найти', class: 'btn btn-primary' %>
<% end %>



  
 